/* Estilo general */

@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --main-color: #0a5d91;
    --accent-color: #2191db;
    --hover-color: #005f99;
    --danger-color: #d9534f;
    --bg-color: #f0f8ff;
    --text-color: #333;
    --white: #fff;
    --border-radius: 8px;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.form {
    width: 100%;
    max-width: 600px;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

/* Header */
.header {
    width: 100%;
    background-color: var(--main-color);
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    color: var(--white);
    text-decoration: none;
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-size: 35px;
}

/* Main Section */
.main-section {
    padding: 40px 20px;
    width: 100%;
}

.heading {
    text-align: center;
    margin-top: 20px;
    color: var(--main-color);
}

.field-wrap {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--text-color);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 1rem;
}

button.button-block {
    width: 100%;
    padding: 12px;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.button-block:hover {
    background-color: var(--accent-color);
}

.forgot {
    text-align: center;
    margin-top: 10px;
}

.forgot a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot a:hover {
    text-decoration: underline;
}
