

/* Estilo general */

@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --main-color: #0a5d91;
    --accent-color: #2191db;
    --hover-color: #005f99;
    --danger-color: #d9534f;
    --bg-color: #f0f8ff;
    --text-color: #333;
    --white: #fff;
    --border-radius: 8px;
  }
  
  /* Reset de márgenes y paddings */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column
  }
  
  /* Header */
  .header {
    width: 100%;
    background-color: var(--main-color);
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  
  .logo {
    
    color: white;
    text-decoration: none;
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    vertical-align: middle;
}
  .navbar .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-list li a {
    font-size: 1.2rem;
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-list li a:hover {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
  }


.padre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    width: 100%;
}

.container {
    max-width: 800px;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 80px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.cancel-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.cancel-link:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
